{{!-- NAVBAR --}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-0 font-primary">
    <div class="container">
        <a class="navbar-brand bigFont text-primary" href="/">b<img
                src="https://img.icons8.com/nolan/30/000000/bug.png">g tracker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                {{#if user}}
                    <li class="nav-item">
                        <p class="nav-link text-primary">{{user.username}}</p>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navBtn" href="/logout" id="logout-button">logout</a>
                    </li>
                {{else}}
                    <li class="nav-item">
                        <button class="nav-link navBtn" id="login-button">login</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link navBtn" id="signup-button">sign up</button>
                    </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>
{{!-- Nav tabs --}}
<div class="container">
    <div class="row">
        <a class="col-4 nav-tab blue-tab active" href="/dashboard">
            <div class="shaker" id="1"><img src="https://img.icons8.com/dusk/30/000000/speed.png"></div>
        </a>
        <a class="col-4 nav-tab pink-tab" href="/projects">
            <div class="shaker" id="2"><img src="https://img.icons8.com/cotton/30/000000/area-chart.png"></div>
        </a>
        <a class="col-4 nav-tab green-tab" href="/comments">
            <div class="shaker" id="3"><img
                    src="https://img.icons8.com/plasticine/35/000000/speech-bubble-with-dots.png"></div>
        </a>
    </div>
</div>

{{!-- Home page IF AUTHENTICATED --}}
<div class="container mt-5 text-center">
    <div class="row justify-content-center">
        <div class="col-lg-10 mb-4">
            <div class="bubble bg-light blue-bubble">
                <h2 class="font-primary">progress <img src="https://img.icons8.com/dusk/30/000000/area-chart.png"></h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 mb-4">
            <div class="bubble bg-light pink-bubble">
                <h2 class="font-primary">projects <img src="https://img.icons8.com/cotton/35/000000/area-chart.png"></h2>
            </div>
        </div>
        <div class="col-lg-6 mb-4">
            <div class="bubble bg-light green-bubble">
                <h2 class="font-primary">comments <img src="https://img.icons8.com/plasticine/35/000000/speech-bubble-with-dots.png"></h2>
            </div>
        </div>
    </div>
</div>