{{!-- NAVBAR --}}
<nav class="navbar navbar-expand-lg navbar-light bg-light py-0 font-primary">
    <div class="container">
        <a class="navbar-brand bigFont text-primary" href="/">b<img
                src="https://img.icons8.com/nolan/30/000000/bug.png">g tracker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                {{#if user}}
                    <li class="nav-item">
                        <p class="nav-link text-primary">{{user.username}}</p>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout" id="logout-button">logout</a>
                    </li>
                {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="/login" id="login-button">login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup" id="signup-button">sign up</a>
                    </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>
{{!-- Nav tabs --}}
<div class="container">
    <div class="row">
        <a class="col-4 nav-tab blue-tab" href="/dashboard">
            <div class="shaker" id="1"><img src="https://img.icons8.com/dusk/30/000000/speed.png"></div>
        </a>
        <a class="col-4 nav-tab pink-tab" href="/projects">
            <div class="shaker" id="2"><img src="https://img.icons8.com/cotton/30/000000/area-chart.png"></div>
        </a>
        <a class="col-4 nav-tab green-tab" href="/comments">
            <div class="shaker" id="3"><img
                    src="https://img.icons8.com/plasticine/35/000000/speech-bubble-with-dots.png"></div>
        </a>
    </div>
</div>

{{!-- Helpers --}}
<div class="container wrapper">
    <div class="row">
        <div class="col-4 text-right text-lg-center d-none d-lg-block">
            <i class="fas fa-hand-point-up text-primary fa-2x helper"></i>
            <p class="text-primary helperMessage font-secondary">
                dashboard
            </p>
        </div>
        <div class="col-4 text-right text-lg-center d-none d-lg-block">
            <i class="fas fa-hand-point-up text-pink fa-2x helper"></i>
            <p class="text-pink helperMessage font-secondary">
                projects
            </p>
        </div>
        <div class="col-4 text-right text-lg-center d-none d-lg-block">
            <i class="fas fa-hand-point-up text-green fa-2x helper"></i>
            <p class="text-green helperMessage font-secondary">
                comments
            </p>
        </div>
    </div>

    {{!-- Welcome content --}}
    <div class="row mt-lg-3 justify-content-center">
        <div class="col-lg-6 d-none d-lg-block text-right border-right border-warning">
            <h3 class="font-primary text-light reallyBigFont">Welcome to
                <br>
                <span class="text-primary">b<img src="https://img.icons8.com/nolan/96/000000/bug.png">g tracker</span>
            </h3>
        </div>

        <div class="col-5 d-lg-none text-right mt-2 mt-md-0">
            <img src="https://img.icons8.com/nolan/150/000000/bug.png">
        </div>

        <div class="col-6 col-lg-4 font-secondary bigFont shortenMe mt-md-3 mt-lg-4">
            <p class="text-primary">looks cool</p>
            <p class="text-green">simple to use</p>
            <p class="text-pink">gets the job done</p>
        </div>
    </div>
</div>