{{!-- NAVBAR --}}
<nav class="navbar navbar-expand-lg navbar-light bg-light py-0 font-primary">
    <div class="container">
        <a class="navbar-brand bigFont text-primary" href="/">b<img
                src="https://img.icons8.com/nolan/30/000000/bug.png">g tracker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                {{#if user}}
                <li class="nav-item">
                    <p class="nav-link text-primary"><span class="text-muted font-italic">signed in as &nbsp;</span> {{user.username}}</p>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">logout</a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/login">login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup">sign up</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <div class="row justify-content-center pt-5">
        <div class="col-lg-7 d-none d-lg-block text-right border-right">
            <h3 class="font-primary text-light reallyBigFont">Welcome to
                <br>
                <span class="text-primary">b<img src="https://img.icons8.com/nolan/96/000000/bug.png">g tracker</span>
            </h3>
        </div>

        <div class="col-5 d-lg-none text-right">
            <img src="https://img.icons8.com/nolan/150/000000/bug.png">
        </div>

        <div class="col-5 col-lg-4 font-secondary bigFont shortenMe mt-md-3 mt-lg-4">
            <p class="text-primary">think</p>
            <p class="text-purple">before</p>
            <p class="text-pink">you code</p>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-6 col-md-5 text-center">
            <a href="/dashboard"><button class="btn btn-lg btn-block font-secondary btn-outline-primary">get started</button></a>
        </div>
    </div>
</div>