{{!-- NAVBAR --}}
<nav class="font-primary text-darkBlue fixed-top">
    <div class="container-fluid bg-yellow">
        <a href="/" class="text-darkBlue bigFont">b<i class="fas fa-bug"></i>g tracker</a>
    </div>

    <div class="container">
        <div class="row mb-5">
            <div class="col-4 nav-tab active">
                <div><i class="fas fa-home fa-2x"></i></div>
            </div>
            <div class="col-4 nav-tab">
                <div><i class="fas fa-project-diagram fa-2x"></i></div>
            </div>
            <div class="col-4 nav-tab">
                <div><i class="fas fa-comments fa-2x"></i></div>
            </div>
        </div>
    </div>
</nav>

<div class="container wrapper text-center">
    <div class="row justify-content-center">
        <div class="col-lg-10 mb-3">
            <div class="topBubble bubble">
                blah
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 mb-3">
            <div class="leftBubble bubble">
                blah
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="rightBubble bubble">
                blah
            </div>
        </div>
    </div>
</div>