{{!-- NAVBAR --}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-0 font-primary">
    <div class="container">
        <a class="navbar-brand bigFont text-primary" href="/">b<img
                src="https://img.icons8.com/nolan/30/000000/bug.png">g tracker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                {{#if user}}
                    <li class="nav-item">
                        <p class="nav-link text-primary">{{user.username}}</p>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navBtn" href="/logout" id="logout-button">logout</a>
                    </li>
                {{else}}
                    <li class="nav-item">
                        <button class="nav-link navBtn" id="login-button">login</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link navBtn" id="signup-button">sign up</button>
                    </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>
{{!-- Nav tabs --}}
<div class="container">
    <div class="row">
        <a class="col-4 nav-tab blue-tab" href="/dashboard">
            <div class="shaker" id="1"><img src="https://img.icons8.com/dusk/30/000000/speed.png"></div>
        </a>
        <a class="col-4 nav-tab pink-tab active" href="/projects">
            <div class="shaker" id="2"><img src="https://img.icons8.com/cotton/30/000000/area-chart.png"></div>
        </a>
        <a class="col-4 nav-tab green-tab" href="/comments">
            <div class="shaker" id="3"><img
                    src="https://img.icons8.com/plasticine/35/000000/speech-bubble-with-dots.png"></div>
        </a>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-12 border-bottom-pink d-flex justify-content-between">
            <h2 class="display-4 font-primary text-light">projects</h2>
            <button class="btn-pink display-4" id="add-project"><i class="fas fa-plus"></i></button>
        </div>
    </div>

    {{#each projects}}
    {{#if name}}
        <div class="row mt-3">
            <div class="col-12">
                <button class="btn btn-block btn-lg btn-primary">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <h3 class="font-secondary">{{name}}</h3>
                            </div>
                            <div class="col-lg-6">
                                <h4 class="font-secondary">Issues</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, asperiores!</p>
                            </div>
                            <div class="col-lg-6">
                                <h4 class="font-secondary">Comments</h4>
                            </div>
                        </div>
                    </div>
                </button>
            </div>
        </div>
    {{/if}}
    {{/each}}
</div>

{{!-- MODAL --}}
<div class="modal" tabindex="-1" role="dialog" id="add-project-modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-primary">add project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="font-secondary" action="/addproject" method="POST">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name">
            </div>
      </div>
      <div class="modal-footer font-primary">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>
        <button type="submit" class="btn btn-primary">add <i class="fas fa-plus"></i></button>
        </form>
      </div>
    </div>
  </div>
</div>