body {
    /* background: #161b40; */
    font-size: 18px;
}

#welcomeMessage {
    font-size: 13px;
}

.wrapper {
    margin-top: 150px;
}

/* COLORS */
.text-green {
    color: #60be92;
}
.bg-green {
    background: #60be92;
}

.text-pink {
    color: #ff3392;
}

.text-purple {
    color: #c63bff;
}
.bg-pink {
    background: #ff3392;
}
/* --- */

/* FONTS */
.font-primary {
    font-family: 'Righteous';
}

.font-secondary {
    font-family: 'Acme';
}

.bigFont {
    font-size: 30px;
}

.reallyBigFont {
    font-size: 70px;
}
/* --- */

/* LINKS */ 
a, a:hover {
    text-decoration: none;
    color: inherit;
}
/* --- */

/* NAV */
nav {
    width: 100%;
}

.blue-shadow {
    box-shadow: 1px 1px 2px #007bff;
}
.pink-shadow {
    box-shadow: 1px 1px 2px #ff3392;
}
.green-shadow {
    box-shadow: 1px 1px 2px #60be92;
}

.shaker {
    position: absolute;
    left: 45%;
    top: 1px;
}

.nav-tab {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    cursor: pointer;
    position: relative;
    padding: 20px 0;
}

.nav-tab.active {
    margin-bottom: -15px;
}

.blue-tab {
    border-bottom: 2px solid #007bff;
}
.pink-tab {
    border-bottom: 2px solid #ff3392;
}
.green-tab {
    border-bottom: 2px solid #60be92;
}
/* --- */

/* BUBBLES */
.bubble {
    border-radius: 30px;
    min-height: 300px;
    width: inherit;
    border: none;
}

.blue-bubble {
    box-shadow: 10px 10px 5px #007bff70;
}
.pink-bubble {
    box-shadow: 10px 10px 5px #ff339280;
}
.green-bubble {
    box-shadow: 10px 10px 5px #60be9280;
}

/* WELCOME PAGE */
.helper {
    position: absolute;
    top: -135px;
    left: 150px;
}

@media only screen and (min-width: 1200px) {
    .helper {
        left: 180px;
    }
}

.helperMessage {
    margin-top: -78px;
}

.shortenMe {
    line-height: 30px;
}
/* --- */